* {
  font-family: "PT Sans", sans-serif;
}
html,
body,
#app {
  height: 100%;
  background-color: var(--bg-primary);
  color: white;
}

:root {
  --primary: #61c57a;
  --bg-primary: #111b21;
  --bg-secondary: #202c33;
}

._input {
  background-color: var(--bg-secondary) !important;
  padding: 10px 15px;
  border: none;
  outline: none;
  width: 70%;
  text-align: center;
  border-radius: 0.5rem;
}

._input-text-left {
  text-align: left;
}

._text-white {
  color: white !important;
}
._text-black {
  color: black !important;
}

._btn {
  color: var(--bg-primary) !important;
}
._btn:hover {
  letter-spacing: 1px;
  color: var(--bg-primary) !important;
}
._bold {
  font-weight: 800;
}
._semibold {
  font-weight: 600;
}

._bg-secondary {
  background-color: var(--bg-secondary) !important;
}
._bg-primary {
  background-color: var(--bg-primary) !important;
}

._border-right {
  border-right: 1px solid white !important;
}
._border-left {
  border-left: 1px solid white !important;
}
._border-top {
  border-top: 1px solid white !important;
}
._border-bottom {
  border-bottom: 1px solid white !important;
}

@media (min-width: 768px) {
  ._input {
    width: 40% !important;
  }
}
