@import url('./animations.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --primary: #6366f1;
  --primary-bg: #6365f144;
  --text: #ffffff;
  --text-secondary: #dddddd;
  --bg-gray: #f8f9fc;
  --accent: #e78f8e;
}
* {
  box-sizing: border-box;
  scrollbar-width: thin;
  font-family: 'Poppins', sans-serif;
}
body {
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

._link {
  text-decoration: none;
}

._reference {
  color: var(--primary);
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 0;
  min-width: 200px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
._reference:hover {
  color: var(--primary);
  letter-spacing: 0.5px;
}

.h-screen {
  height: 100vh !important;
}

._bg-primary {
  background-color: var(--primary);
  color: var(--text);
}

._bg-gray {
  background-color: var(--bg-gray);
}

._bg-lightgray {
  background-color: var(--text-secondary);
}

._bg-primary-05 {
  background-color: var(--primary-bg);
  color: black;
}

._font-bold {
  font-weight: bold;
}

._font-bolder {
  font-weight: bolder;
}

._font-light {
  font-weight: light;
}

._text-xxsmall {
  font-size: 0.7rem;
}

._text-xsmall {
  font-size: 0.8rem;
}

._text-small {
  font-size: 0.9rem;
}
._text-medium {
  font-size: 1.1rem;
}
._text-large {
  font-size: 1.3rem;
}
._text-xlarge {
  font-size: 2rem;
}

._text-xxlarge {
  font-size: 4rem;
}

._ls-smallest {
  letter-spacing: -1px;
}

._ls-small {
  letter-spacing: 1px;
}

._ls-medium {
  letter-spacing: 3px;
}

._ls-large {
  letter-spacing: 5px;
}

._uppercase {
  text-transform: uppercase;
}

.__lowercase {
  text-transform: lowercase;
}

._capitalize {
  text-transform: capitalize;
}

._minw-25 {
  min-width: 25%;
}

._minw-50 {
  min-width: 50%;
}

._minw-75 {
  min-width: 75%;
}

._minh-25 {
  min-height: 25%;
}

._minh-50 {
  min-height: 50%;
}

._minh-75 {
  min-height: 75%;
}

._h-100 {
  height: 100%;
}
._h-50px {
  height: 50px;
}

._w-25 {
  width: 100%;
}
._w-2550 {
  width: 50%;
}

._w-50 {
  width: 100%;
}
._justify {
  text-align: justify;
}

._text-primary {
  color: var(--primary);
}

._text-secondary {
  color: var(--text-secondary);
}

._br-1 {
  border-radius: 10px;
}

._avatar {
  max-width: 100px;
  max-height: 100px;
}

._test {
  border: 1px solid black;
}

._border {
  border-bottom: 1px solid rgba(128, 128, 128, 0.226);
}
._chat-container {
  width: 100%;
  height: 70%;
}
._panel-container {
  width: 100%;
  height: 30%;
}

@media only screen and (min-width: 481px) {
  ._w-25 {
    width: 25%;
  }
  ._w-50 {
    width: 50%;
  }
  ._w-2550 {
    width: 25%;
  }
  ._chat-container {
    height: 100%;
  }
  ._panel-container {
    height: 100%;
  }
}
