@import url('./animations.css');
:root {
  --primary: #6366f1;
  --text: #ffffff;
  --text-secondary: #dddddd;
  --accent: #e78f8e;
}
* {
  box-sizing: border-box;
  scrollbar-width: thin;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

._link {
  text-decoration: none;
}

._reference {
  color: var(--primary);
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 0;
  min-width: 200px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
._reference:hover {
  color: var(--primary);
  letter-spacing: 0.5px;
}

.h-screen {
  height: 100vh;
}

._bg-primary {
  background-color: var(--primary);
  color: var(--text);
}

._font-bold {
  font-weight: bold;
}

._font-bolder {
  font-weight: bolder;
}

._font-light {
  font-weight: light;
}

._text-small {
  font-size: 0.9rem;
}
._text-medium {
  font-size: 1.1rem;
}
._text-large {
  font-size: 1.3rem;
}
._text-xlarge {
  font-size: 2rem;
}

._text-xxlarge {
  font-size: 4rem;
}

._ls-smallest {
  letter-spacing: -1px;
}

._ls-small {
  letter-spacing: 1px;
}

._ls-medium {
  letter-spacing: 3px;
}

._ls-large {
  letter-spacing: 5px;
}

._uppercase {
  text-transform: uppercase;
}

.__lowercase {
  text-transform: lowercase;
}

._capitalize {
  text-transform: capitalize;
}

._minh-25 {
  min-height: 25%;
}

._minh-50 {
  min-height: 50%;
}

._minh-75 {
  min-height: 75%;
}

._h-100 {
  height: 100%;
}

._w-25 {
  width: 100%;
}

._w-50 {
  width: 100%;
}

._justify {
  text-align: justify;
}

._text-secondary {
  color: var(--text-secondary);
}

._br-1 {
  border-radius: 10px;
}

@media only screen and (min-width: 481px) {
  ._w-25 {
    width: 25%;
  }
  ._w-50 {
    width: 50%;
  }
}
